body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.id-card {
  margin: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 500px;
}

.left {
  flex: 0 0 150px;
  margin-right: 10px;
}

.right {
  flex: 2;
  text-align: left;
}


.greetings{
  border: 1px solid ;
  text-align: left;
  margin: 20px;
  padding: 5px;
}

.random{
  border: 1px solid ;
  text-align: left;
  margin: 20px;
  padding: 5px;
}

h1{
  text-align: left;
}

.box-color{
  border: 1px solid ;
  text-align: center;
  margin: 20px;
  padding: 5px;
}


.credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card-logo {
  width: 60px;
}

.card-number {
  font-size: 18px;
  margin: 10px 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-info-bank {
  font-size: 14px;
  font-weight: bold;
}

.card-info-expiry {
  font-size: 12px;
}

.card-info-owner {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.credit-card img {
  max-width: 100%;
}

.rating{
  margin: 20px;
  text-align: left;
}

.driver-card {
  display: flex;
  align-items: center;
  background-color: #554bbe;
  color: #fff;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.driver-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20%;
}

.driver-info {
  margin: 10px;
  margin-left: 50px;
  text-align: left;
}

.driver-info h2 {
  margin: 0;
  font-size: 26px;
  margin-bottom: 10px;
}

.driver-info p {
  margin: 5px 0;
}

.driver-info p:first-of-type {
  font-size: 22px;
}

.driver-info p:last-of-type {
  font-size: 18px;
  opacity: 0.6;
}

.driver-info p:nth-last-of-type(2) {
  margin-bottom: 15px;
}

.driver-info p:nth-last-of-type(1) {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
